/*Write more CSS to do the following:
*/

html, body {
	font-family: Helvetica, Arial, sans-serif;
	background: #eee;
}

p {
	margin: 1em 0;
	font-weight: bold;
}

p:hover {
  padding-left: 4px;
}

section {
  border: .5em solid red;
  border-radius: 10px;
	margin-bottom: 5em;
}

section:hover {
  background-color: beige;
}
ul {
	list-style: none;
}

ul {
	list-style: none;
}

button.honda {
  background-color: #eee;
  color: #444;
  padding: 10px;
  width: 100%;
  transition: 0.4s;
}

div.content {
  padding: 0 10px;
  display: none;
}

div.content.show {
  display: block;
}
